<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block" (click)="delete_data()">
          <div class="m-r-20 align-self-center">
            <span class="lstick m-r-20"></span
            ><i style="font-size: 45px" class="mdi mdi-database-minus"></i>
          </div>
          <div class="align-self-center">
            <h2 class="m-t-0">Limpiar</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div
          class="d-flex no-block"
          (click)="activarLuces()"
          style="cursor: pointer"
        >
          <div class="m-r-20 align-self-center">
            <span class="lstick m-r-20"> </span>
            <i *ngIf="lucesEncendidas" style="font-size: 45px" class="mdi mdi-lightbulb-on"> </i>
            <i *ngIf="!lucesEncendidas" style="font-size: 45px;" class="mdi mdi-lightbulb-outline"></i>
          </div>
          <div class="align-self-center">
            <h2 class="m-t-0">Luces</h2>
          </div>
        </div>
      </div>
    </div>
  </div-->
  <div></div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div
          class="d-flex no-block"
          (click)="export()"
          style="cursor: pointer"
        >
          <div class="m-r-20 align-self-center">
            <span class="lstick m-r-20"> </span>
            <i style="font-size: 45px" class="mdi mdi-file-document"> </i>
            <i
              style="font-size: 45px; display: none"
              class="mdi mdi-lightbulb-outline"
            ></i>
          </div>
          <div class="align-self-center">
            <h2 *ngIf="!sistemaActivo" class="m-t-0">Reporte</h2>
            <h2 *ngIf="sistemaActivo" class="m-t-0">Desactivar</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Pin de seguridad</h3>
    <h5 class="card-subtitle">
      Copia éste pin<code>{{ pin }}</code> para poder acceder a .....
    </h5>

    <div class="table-responsive">
      <table class="table table-striped" id="tableZonas">
        <thead>
          <tr>
            <th>Zonas</th>
            <th>Sensores</th>
            <th>Detalles</th>
            <th class="text-nowrap">Capturas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let zonas of datosZonas; let i = index" [attr.data-index]="i">
            <ng-container *ngFor="let dataZona of zonas | keyvalue">
              <td>{{dataZona.key}}</td>

              <td>
                <ul>
                  <ng-container *ngIf="dataZona.value?.length > 0">
                    <li *ngFor="let trama of dataZona.value">{{trama["sensor"]}}</li>
                  </ng-container>
                  <ng-container *ngIf="dataZona.value?.length <= 0">
                    <li>No hay datos.</li>
                  </ng-container>
                </ul>
              </td>

              <td>
                <ul>
                  <ng-container *ngIf="dataZona.value?.length > 0">
                    <li *ngFor="let trama of dataZona.value"> Activado el: {{trama["date"]
                      .toDate() | converDate | date:'yyyy/MM/dd h:mm:ss a'}}</li>
                  </ng-container>
                  <ng-container *ngIf="dataZona.value?.length <= 0">
                    <li>No hay datos.</li>
                  </ng-container>
                </ul>
              </td>

              <td class="text-nowrap">
                <div class="col-lg-3 col-md-6 m-b-20">
                  <img
                    style="width: 150px"
                    src="{{allImages[i].url}}"
                    class="img-responsive radius"
                    *ngIf="dataZona.value?.length > 0"
                  />
                </div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
